
# Manifest is machine-specific
Manifest.toml
docs/Manifest.toml


data/*

src/Isochrone/*
examples/run_isochrone.jl

examples/data/data_chebyshev*
examples/data/data_legendre*

# OSX hidden files
*.DS_Store
**/.DS_Store

# Documentation (avoid committing generated content)
docs/build/